	</main>
		<footer class="row footer">
			
		<div class="small-12">
			
			<p>Virgulin</p>
			
		</div>
		
		</footer>
		
	<script src="/javascripts/vendor/jquery.js"></script>
	<script src="/javascripts/foundation.min.js"></script>
	<script>
		$(document).foundation();
	</script>
		
	</body>
</html>